
.DS_STORE
chat-app.sublime-project
chat-app.sublime-workspace

.Python
build/
.env
.venv
env/
venv/
ENV/
bin/
include/
pip-selfcheck.json
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec



pip-log.txt
pip-delete-this-directory.txt



*.log
local_settings.py


target/

.ipynb_checkpoints

.python-version

celerybeat-schedule



